<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Prime</title>
</head>
<body>
    <p>
       go to localhost:5000/random for fileupload and food detection

    </p>
</body>
</html>