<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <body>
        <!-- <div class='card' id='pic-upload'>
            <h2>Upload picture of food</h2>
            <form method="POST" action="/random" enctype="multipart/form-data">
             <input type="file" name='image'/>
             <input type="submit" value="Upload"/>
            </form>
        </div>
        <div class='card' id='nm'>

          <img src="/image.png" /> -->

          <section class="section my-4">
            <div class="container text-center">
                <div class="title py-5">
                    <h1>Node File Uploader</h1>
                    <p class="subtitle">Upload Images to the <strong>Server</strong></p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-4">
                        <form action="/random" enctype="multipart/form-data" method="POST">
                            <div class="row">
                                <div class="col-8">
                                    <input type="file" class="form-control" name="images" id="formFile" multiple>
                                </div>
                                <div class="col-2">
                                    <input type="submit" class="btn btn-warning" value="Upload Images">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                    <section class="mt-5">
                        <div class="row">
                                                <div class="col-3">
                                                        <div class="card shadow" style="width: 18rem;">
                                                            <img src='data:{{contentType}};base64,{{imageBase64}}' class="card-img-top" class="img-fluid" alt="...">
                                                            <div class="card-body">
                                                                <h5 class="card-title font-poppins"></h5>
                                                                <p class="text-secondary font-size-09">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                <a href="#" class="btn btn-info font-size-09 text-light">Read More...</a>
                                                            </div>
                                                        </div>
                                                </div>


                        </div>
                    </section>


            </div>
        </section>





          <% if (name!=null){%>
            <h1 class='name'><%= name %> </h1>
          <% } %>
        </div>

</body>
</html>