<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <body>
        <div class='card' id='pic-upload'>
            <h2>Upload picture of food</h2>
            <form method="POST" action="/random" enctype="multipart/form-data">
             <input type="file" name='image'/>
             <input type="submit" value="Upload"/>
            </form>
        </div>
        <div class='card' id='nm'>
            <% if (name!=null){%>
                <h1 class='name'><%= name %> </h1>
              <% } %>
        </div>

</body>
</html>